# Order of the stages
stages:
  - build
  - push
  - deploy

build:
  image: docker:20.10.17
  stage: build
  tags:
    - docker
  services:
    - docker:20.10.17-dind
  before_script:
    - docker info # Print out docker version for debugging
    - echo -n $CI_JOB_TOKEN | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY # Login on the GitLab container registry

  script:
    # Echo the variables to appear in the logs
    - echo CI_REGISTRY_IMAGE $CI_REGISTRY_IMAGE
    - echo CI_COMMIT_REF_SLUG $CI_COMMIT_REF_SLUG
    - echo CI_COMMIT_SHA $CI_COMMIT_SHA
    - echo CI_COMMIT_REF_NAME $CI_COMMIT_REF_NAME
    - echo CI_COMMIT_SHORT_SHA $CI_COMMIT_SHORT_SHA

    # Build docker image
    # - docker build --network host -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA .
    - docker build --network host --build-arg GITLAB_DEPLOY_TOKEN=$GITLAB_DEPLOY_TOKEN --build-arg GITLAB_DEPLOY_USERNAME=$GITLAB_DEPLOY_USERNAME --build-arg GITLAB_SSA_MANAGER_DEPLOY_TOKEN=$GITLAB_SSA_MANAGER_DEPLOY_TOKEN -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA .

    # Push the image to the registry (GitLab container registry)
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA

build-jobs:
  image: docker:20.10.17
  stage: build
  tags:
    - docker
  services:
    - docker:20.10.17-dind
  before_script:
    - docker info # Print out docker version for debugging
    - echo -n $CI_JOB_TOKEN | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY # Login on the GitLab container registry

  script:
    # Build docker image
    - docker build --network host --build-arg GITLAB_DEPLOY_TOKEN=$GITLAB_DEPLOY_TOKEN --build-arg GITLAB_DEPLOY_USERNAME=$GITLAB_DEPLOY_USERNAME --build-arg GITLAB_SSA_MANAGER_DEPLOY_TOKEN=$GITLAB_SSA_MANAGER_DEPLOY_TOKEN -t $CI_REGISTRY_IMAGE/calculate-available-flexibility:$CI_COMMIT_SHA -f jobs/calculate_available_flexibility/Dockerfile .
    - docker build --network host --build-arg GITLAB_DEPLOY_TOKEN=$GITLAB_DEPLOY_TOKEN --build-arg GITLAB_DEPLOY_USERNAME=$GITLAB_DEPLOY_USERNAME --build-arg GITLAB_SSA_MANAGER_DEPLOY_TOKEN=$GITLAB_SSA_MANAGER_DEPLOY_TOKEN -t $CI_REGISTRY_IMAGE/post-flexibility:$CI_COMMIT_SHA -f jobs/post_flexibility/Dockerfile .

    - docker build --network host --build-arg GITLAB_DEPLOY_TOKEN=$GITLAB_DEPLOY_TOKEN --build-arg GITLAB_DEPLOY_USERNAME=$GITLAB_DEPLOY_USERNAME --build-arg GITLAB_SSA_MANAGER_DEPLOY_TOKEN=$GITLAB_SSA_MANAGER_DEPLOY_TOKEN -t $CI_REGISTRY_IMAGE/active-power:$CI_COMMIT_SHA -f energy_manager_service/jobs/send_pilot_active_power/Dockerfile .
    - docker build --network host --build-arg GITLAB_DEPLOY_TOKEN=$GITLAB_DEPLOY_TOKEN --build-arg GITLAB_DEPLOY_USERNAME=$GITLAB_DEPLOY_USERNAME --build-arg GITLAB_SSA_MANAGER_DEPLOY_TOKEN=$GITLAB_SSA_MANAGER_DEPLOY_TOKEN -t $CI_REGISTRY_IMAGE/baseline:$CI_COMMIT_SHA -f energy_manager_service/jobs/send_pilot_baseline/Dockerfile .
    - docker build --network host --build-arg GITLAB_DEPLOY_TOKEN=$GITLAB_DEPLOY_TOKEN --build-arg GITLAB_DEPLOY_USERNAME=$GITLAB_DEPLOY_USERNAME --build-arg GITLAB_SSA_MANAGER_DEPLOY_TOKEN=$GITLAB_SSA_MANAGER_DEPLOY_TOKEN -t $CI_REGISTRY_IMAGE/send-setpoints-test:$CI_COMMIT_SHA -f jobs/send_setpoints/Dockerfile .

    - docker build --network host --build-arg GITLAB_DEPLOY_TOKEN=$GITLAB_DEPLOY_TOKEN --build-arg GITLAB_DEPLOY_USERNAME=$GITLAB_DEPLOY_USERNAME --build-arg GITLAB_SSA_MANAGER_DEPLOY_TOKEN=$GITLAB_SSA_MANAGER_DEPLOY_TOKEN -t $CI_REGISTRY_IMAGE/notify-users-flexibility-not-accepted-by-grid:$CI_COMMIT_SHA -f energy_manager_service/jobs/notify_users_flexibility_not_accepted_by_grid/Dockerfile .

    # Push the image to the registry (GitLab container registry)
    - docker push $CI_REGISTRY_IMAGE/calculate-available-flexibility:$CI_COMMIT_SHA
    - docker push $CI_REGISTRY_IMAGE/post-flexibility:$CI_COMMIT_SHA

    - docker push $CI_REGISTRY_IMAGE/active-power:$CI_COMMIT_SHA
    - docker push $CI_REGISTRY_IMAGE/baseline:$CI_COMMIT_SHA
    - docker push $CI_REGISTRY_IMAGE/send-setpoints-test:$CI_COMMIT_SHA

    - docker push $CI_REGISTRY_IMAGE/notify-users-flexibility-not-accepted-by-grid:$CI_COMMIT_SHA

# Here, the goal is to tag the "master" branch as "latest"
push-latest:
  image: docker:20.10.17
  stage: push
  tags:
    - docker
  services:
    - docker:20.10.17-dind
  before_script:
    - docker info # Print out docker version for debugging
    - echo -n $CI_JOB_TOKEN | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
  only:
    # Only "master" should be tagged "latest", not the other git branches
    - master
    - main
  script:
    # Because we have no guarantee that this job will be picked up by the same runner
    # that built the image in the previous step, we pull it again locally
    - docker pull $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
    - docker pull $CI_REGISTRY_IMAGE/calculate-available-flexibility:$CI_COMMIT_SHA
    - docker pull $CI_REGISTRY_IMAGE/post-flexibility:$CI_COMMIT_SHA
    - docker pull $CI_REGISTRY_IMAGE/active-power:$CI_COMMIT_SHA
    - docker pull $CI_REGISTRY_IMAGE/baseline:$CI_COMMIT_SHA
    - docker pull $CI_REGISTRY_IMAGE/send-setpoints-test:$CI_COMMIT_SHA
    - docker pull $CI_REGISTRY_IMAGE/notify-users-flexibility-not-accepted-by-grid:$CI_COMMIT_SHA

    # Then we tag it "latest"
    - docker tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE:latest
    - docker tag $CI_REGISTRY_IMAGE/calculate-available-flexibility:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE/calculate-available-flexibility:latest
    - docker tag $CI_REGISTRY_IMAGE/post-flexibility:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE/post-flexibility:latest
    - docker tag $CI_REGISTRY_IMAGE/active-power:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE/active-power:latest
    - docker tag $CI_REGISTRY_IMAGE/baseline:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE/baseline:latest
    - docker tag $CI_REGISTRY_IMAGE/send-setpoints-test:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE/send-setpoints-test:latest
    - docker tag $CI_REGISTRY_IMAGE/notify-users-flexibility-not-accepted-by-grid:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE/notify-users-flexibility-not-accepted-by-grid:latest

    # Annnd we push it.
    - docker push $CI_REGISTRY_IMAGE:latest
    - docker push $CI_REGISTRY_IMAGE/calculate-available-flexibility:latest
    - docker push $CI_REGISTRY_IMAGE/post-flexibility:latest
    - docker push $CI_REGISTRY_IMAGE/active-power:latest
    - docker push $CI_REGISTRY_IMAGE/baseline:latest
    - docker push $CI_REGISTRY_IMAGE/send-setpoints-test:latest
    - docker push $CI_REGISTRY_IMAGE/notify-users-flexibility-not-accepted-by-grid:latest

# Push to staging or other branches
push-secondary-branches:
  image: docker:20.10.17
  stage: push
  tags:
    - docker
  services:
    - docker:20.10.17-dind
  before_script:
    - docker info # Print out docker version for debugging
    - echo -n $CI_JOB_TOKEN | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
  except:
    # Only on "staging" branch
    # - staging
    - master
    - main
  script:
    # Because we have no guarantee that this job will be picked up by the same runner
    # that built the image in the previous step, we pull it again locally
    - docker pull $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
    - docker pull $CI_REGISTRY_IMAGE/calculate-available-flexibility:$CI_COMMIT_SHA
    - docker pull $CI_REGISTRY_IMAGE/post-flexibility:$CI_COMMIT_SHA
    - docker pull $CI_REGISTRY_IMAGE/active-power:$CI_COMMIT_SHA
    - docker pull $CI_REGISTRY_IMAGE/baseline:$CI_COMMIT_SHA
    - docker pull $CI_REGISTRY_IMAGE/send-setpoints-test:$CI_COMMIT_SHA
    - docker pull $CI_REGISTRY_IMAGE/notify-users-flexibility-not-accepted-by-grid:$CI_COMMIT_SHA

    # Then we tag it "staging"
    - docker tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE:$CI_COMMIT_BRANCH
    - docker tag $CI_REGISTRY_IMAGE/calculate-available-flexibility:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE/calculate-available-flexibility:$CI_COMMIT_BRANCH
    - docker tag $CI_REGISTRY_IMAGE/post-flexibility:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE/post-flexibility:$CI_COMMIT_BRANCH
    - docker tag $CI_REGISTRY_IMAGE/active-power:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE/active-power:$CI_COMMIT_BRANCH
    - docker tag $CI_REGISTRY_IMAGE/baseline:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE/baseline:$CI_COMMIT_BRANCH
    - docker tag $CI_REGISTRY_IMAGE/send-setpoints-test:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE/send-setpoints-test:$CI_COMMIT_BRANCH
    - docker tag $CI_REGISTRY_IMAGE/notify-users-flexibility-not-accepted-by-grid:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE/notify-users-flexibility-not-accepted-by-grid:$CI_COMMIT_BRANCH

    # Annnd we push it.
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_BRANCH
    - docker push $CI_REGISTRY_IMAGE/calculate-available-flexibility:$CI_COMMIT_BRANCH
    - docker push $CI_REGISTRY_IMAGE/post-flexibility:$CI_COMMIT_BRANCH
    - docker push $CI_REGISTRY_IMAGE/active-power:$CI_COMMIT_BRANCH
    - docker push $CI_REGISTRY_IMAGE/baseline:$CI_COMMIT_BRANCH
    - docker push $CI_REGISTRY_IMAGE/send-setpoints-test:$CI_COMMIT_BRANCH
    - docker push $CI_REGISTRY_IMAGE/notify-users-flexibility-not-accepted-by-grid:$CI_COMMIT_BRANCH

# Push New tagged version to container registry (when manually tagged)
push-tag:
  image: docker:20.10.17
  stage: push
  tags:
    - docker
  services:
    - docker:20.10.17-dind
  rules:
    - if: $CI_COMMIT_TAG
  before_script:
    - docker info # Print out docker version for debugging
    - echo -n $CI_JOB_TOKEN | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
    - echo $CI_COMMIT_TAG
  script:
    # Pull commit tag
    - docker pull $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
    - docker pull $CI_REGISTRY_IMAGE/calculate-available-flexibility:$CI_COMMIT_SHA
    - docker pull $CI_REGISTRY_IMAGE/post-flexibility:$CI_COMMIT_SHA
    - docker pull $CI_REGISTRY_IMAGE/active-power:$CI_COMMIT_SHA
    - docker pull $CI_REGISTRY_IMAGE/baseline:$CI_COMMIT_SHA
    - docker pull $CI_REGISTRY_IMAGE/send-setpoints-test:$CI_COMMIT_SHA
    - docker pull $CI_REGISTRY_IMAGE/notify-users-flexibility-not-accepted-by-grid:$CI_COMMIT_SHA

    # Then we tag it with tag label
    - docker tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
    - docker tag $CI_REGISTRY_IMAGE/calculate-available-flexibility:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE/calculate-available-flexibility:$CI_COMMIT_TAG
    - docker tag $CI_REGISTRY_IMAGE/post-flexibility:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE/post-flexibility:$CI_COMMIT_TAG
    - docker tag $CI_REGISTRY_IMAGE/active-power:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE/active-power:$CI_COMMIT_TAG
    - docker tag $CI_REGISTRY_IMAGE/baseline:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE/baseline:$CI_COMMIT_TAG
    - docker tag $CI_REGISTRY_IMAGE/send-setpoints-test:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE/send-setpoints-test:$CI_COMMIT_TAG
    - docker tag $CI_REGISTRY_IMAGE/notify-users-flexibility-not-accepted-by-grid:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE/notify-users-flexibility-not-accepted-by-grid:$CI_COMMIT_TAG

    # And we push it back to the registry.
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
    - docker push $CI_REGISTRY_IMAGE/calculate-available-flexibility:$CI_COMMIT_TAG
    - docker push $CI_REGISTRY_IMAGE/post-flexibility:$CI_COMMIT_TAG
    - docker push $CI_REGISTRY_IMAGE/active-power:$CI_COMMIT_TAG
    - docker push $CI_REGISTRY_IMAGE/baseline:$CI_COMMIT_TAG
    - docker push $CI_REGISTRY_IMAGE/send-setpoints-test:$CI_COMMIT_TAG
    - docker push $CI_REGISTRY_IMAGE/notify-users-flexibility-not-accepted-by-grid:$CI_COMMIT_TAG

mirror-to-github:
  stage: deploy
  image: docker
  tags:
    - docker
  variables:
    GIT_STRATEGY: clone
  only:
  - github-mirror
  script:
  - apk add --no-cache git
  - cd $CI_PROJECT_DIR
  - git checkout github-mirror
  - LAST_COMMIT_MSG=$(git log --format=%B -n 1)
  - LAST_COMMIT_NAME=$(git log -1 --pretty=format:'%an')
  - LAST_COMMIT_EMAIL=$(git log -1 --pretty=format:'%ae')
  - git clone https://oauth2:${GITHUB_TOKEN}@github.com/INESCTEC/flexihome-energy-manager.git
    github
  - rm -rf .git
  - mv github/.git .git
  - rm -rf github
  - git add -A
  - git config user.email "$LAST_COMMIT_EMAIL"
  - git config user.name "$LAST_COMMIT_NAME"
  - git commit -m "$LAST_COMMIT_MSG"
  - git push
