version: "3.9"

services:

  # ------------------- THESE CONTAINERS ARE USED FOR TESTING PURPOSES ------------------- #


  # DATABASES

  # MULTIPLE DB INSTANCES IN ONE IMAGE
  # https://github.com/mrts/docker-postgresql-multiple-databases
  postgresql:
    image: postgres:latest
    container_name: postgresql
    restart: unless-stopped
    # network_mode: host
    ports:
      - "5432:5432"
    command: [ "postgres", "-c", "wal_level=logical" ]
    environment:
      - POSTGRES_MULTIPLE_DATABASES="energy_manager","jwt_token_management","account_manager","devicemanager","energyprices","statisticsmanager","aggregator","notification_manager"
      # - POSTGRES_MULTIPLE_DATABASES="energy_manager","jwt_token_management"
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=mysecretpassword
    volumes:
      - ./docker-postgresql-multiple-databases:/docker-entrypoint-initdb.d
  
  cassandra:
    image: cassandra:latest
    container_name: cassandra
    restart: unless-stopped
    ports:
      - "9042:9042"
    environment:
      - CASSANDRA_CLUSTER_NAME=forecast_tests
      - HEAP_NEWSIZE=1M
      - MAX_HEAP_SIZE=1024M
    volumes:
      - ./out/cassandra_data:/var/lib/cassandra
    healthcheck:
        test: ["CMD", "cqlsh", "-u cassandra", "-p cassandra" ,"-e describe keyspaces"]
        interval: 15s
        timeout: 10s
        retries: 10
    # mem_limit: 2.5g
  
  cassandra-load-keyspace:
      container_name: cassandra-load-keyspace
      image: cassandra:latest
      depends_on:
        cassandra:
          condition: service_healthy
      volumes:
        # - ./src/main/resources/cassandra_start.cql:$PWD/cassandra_start.cql
        - ./cassandra_start.cql:/app-dev/cassandra_start.cql
      command: /bin/bash -c "echo loading cassandra keyspace && cqlsh cassandra -f /app-dev/cassandra_start.cql"
  

  # KAFKA STACK

  zookeeper:
    image: debezium/zookeeper:1.6
    container_name: zookeeper
    ports:
      - "2888:2888"
      - "2181:2181"
      - "3888:3888"
    restart: unless-stopped

  kafka:
    image: debezium/kafka:1.6
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    restart: unless-stopped
    environment:
      - ZOOKEEPER_CONNECT=zookeeper:2181

  connect:
    image: debezium/connect:1.6
    container_name: connect
    depends_on:
      - kafka
    # network_mode: host
    ports:
      - "8083:8083"
    restart: unless-stopped
    environment:
      - GROUP_ID=1
      - CONFIG_STORAGE_TOPIC=my_connect_configs
      - OFFSET_STORAGE_TOPIC=my_connect_offsets
      - STATUS_STORAGE_TOPIC=my_connect_statuses
      - BOOTSTRAP_SERVERS=kafka:9092


  # TEST SERVICES

  account-manager:
    image: docker-registry.inesctec.pt/cpes/european-projects/interconnect/hems/hems-services/account-manager-service:latest
    container_name: account_manager
    ports:
      - "8082:8080"
    restart: unless-stopped
    environment:
      - DATABASE_IP=postgresql
      - DATABASE_PORT=5432
      - DATABASE_USER=postgres
      - DATABASE_PASSWORD=mysecretpassword
      - KAFKA_BROKER_ENDPOINT=kafka:9092
      - KAFKA_TOPIC=hems.user-account
      - FORECAST_INSTALLATIONS_URL=http://forecast-rest-api:5001/api/installations
  

  device-manager:
    image: docker-registry.inesctec.pt/cpes/european-projects/interconnect/hems/hems-services/device-manager-service:staging
    container_name: device_manager
    ports:
      - "8084:8080"
    restart: unless-stopped
    environment:
      - DATABASE_IP=postgresql
      - DATABASE_PORT=5432
      - DATABASE_USER=postgres
      - DATABASE_PASSWORD=mysecretpassword
      
      - AUTH_DATABASE_USER=postgres
      - AUTH_DATABASE_PASSWORD=mysecretpassword
      
      - DATABASE_IP_ACCOUNT=postgresql
      - DATABASE_PORT_ACCOUNT=5432
      - DATABASE_USER_ACCOUNT=postgres
      - DATABASE_PASSWORD_ACCOUNT=mysecretpassword

      - KAFKA_BROKER_ENDPOINT=kafka:9092
      - KAFKA_TOPIC=hems.device-manager

      - WP_THREAD=False
      - BSH_THREAD=False
      - BSH_GA_URL=http://ga:9090
      - WHIRLPOOL_GA_GLOBAL_URL=http://ga-global:9090
      - WHIRLPOOL_GA_PT_URL=http://ga:9090

      - TESTING=True

  
  energy-prices:
    image: docker-registry.inesctec.pt/cpes/european-projects/interconnect/hems/hems-services/energy-prices-service:staging
    container_name: energy_prices
    ports:
      - "8086:8080"
    restart: unless-stopped
    environment:
      - DATABASE_IP=postgresql
      - DATABASE_PORT=5432
      - DATABASE_USER=postgres
      - DATABASE_PASSWORD=mysecretpassword
      
      - AUTH_DATABASE_USER=postgres
      - AUTH_DATABASE_PASSWORD=mysecretpassword

      - KAFKA_BROKER_ENDPOINT=kafka:9092

      - GITLAB_CI_TEST="True"
  
  statistics-manager:
    image: docker-registry.inesctec.pt/cpes/european-projects/interconnect/hems/hems-services/statistics-manager-service:staging
    container_name: statistics_manager
    ports:
      - "8087:8080"
    restart: unless-stopped
    environment:
      - DATABASE_IP=postgresql
      - DATABASE_PORT=5432
      - DATABASE_USER=postgres
      - DATABASE_PASSWORD=mysecretpassword
      
      - AUTH_DATABASE_USER=postgres
      - AUTH_DATABASE_PASSWORD=mysecretpassword

      - KAFKA_BROKER_ENDPOINT=kafka:9092

      - HOST_SENTINEL=http://vcpes08.inesctec.pt:8000/data/inesctec
      - SENTINEL_TOKEN=token d4acfad2e46b05a71eecbe8fb2b92101a095c47b
      - X_CSRFTOKEN=tM35bpL8mJK5NMRMPJbLQpBvtZKHLkAtLISzoC0xo5YW3OJ7G5G1vYEd3HAXOHDr

      - GITLAB_CI_TEST="True"

  
  forecast-rest-api:
    image: docker-registry.inesctec.pt/cpes/european-projects/interconnect/hems/hems-forecasting-services/hems-restapi/hems-restapi-app
    container_name: forecast-rest-api
    ports:
      - "8085:5001"
    restart: unless-stopped
    volumes:
      # - ./nginx.conf:/etc/nginx/nginx.conf
      - ./gunicorn.conf:/flask_app/gunicorn.conf
    environment:
      - MODE=develop
      - TOKEN_DURATION=9999999999
      - SECRET_KEY="UnGQj4SkEXz*%dN6HCquQFX%oKi"
      - TBL_METADATA=installations
      - TBL_MODELS=models_info
      - TBL_USERS=users_rest
      - TBL_RAW=raw
      - TBL_NETLOAD=net
      - TBL_NWP_GRID=nwp_grid
      - TBL_FORECAST=forecast
      - TBL_METRICS_LONGTERM=metrics_year
      - TBL_METRICS_SHORTTERM=metrics_2wk
      - CASSANDRA_CONTACT_POINTS=cassandra
      - CASSANDRA_PORT=9042
      - CASSANDRA_KEYSPACE=forecast_test


  notification-service:
    image: docker-registry.inesctec.pt/cpes/european-projects/interconnect/hems/hems-services/notification-manager-service:staging
    # image: docker-registry.inesctec.pt/cpes/european-projects/interconnect/hems/hems-services/notification-manager-service:c12a42558b20d93245b182a885dbe7e9150f71da
    container_name: notification_service
    # ports:
    #   - "8088:8080"
    restart: unless-stopped
    environment:
      - DATABASE_IP=postgresql
      - DATABASE_PORT=5432
      - DATABASE_USER=postgres
      - DATABASE_PASSWORD=mysecretpassword
      - KAFKA_BROKER_ENDPOINT=kafka:9092
      - KAFKA_TOPIC=hems.notifications
      # - USER_ACCOUNT_ENDPOINT=http://account-manager.default.svc.cluster.local:8080/api/account
      - USER_ACCOUNT_ENDPOINT=http://account-manager:8080/api/account


  ga-local:
    image: docker-registry.inesctec.pt/interconnect/generic-adapter:2.2.4
    container_name: ga-local
    restart: unless-stopped
    depends_on:
      - ke
    ports:
      - "9090:9090"
    environment:
      - KE_HOST=http://ke:8280/rest # Using Global KE for testing purposes. KE is not actually being used.
      - service-store.check-recipientSelector=false  # Needed for spine adapter with recipient selector active
    healthcheck:
      test: ["CMD", "curl", "http://localhost:9090"]
      interval: 10s
      timeout: 5s
      retries: 5
  
  ke:
    image: ghcr.io/tno/knowledge-engine/smart-connector:1.2.3
    container_name: ke
    restart: unless-stopped
    networks:
      - default
    ports:
      - 8280:8280
    healthcheck:
      test: ["CMD", "curl", "http://localhost:8280/rest/sc"]
      interval: 10s
      timeout: 5s
      retries: 5

  pg_grafana:
    container_name: pg_grafana
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: my_grafana_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pwd
    ports:
      - "5499:5432"
    volumes:
      - pg_grafana:/var/lib/postgresql/data

  grafana:
    container_name: grafana
    image: grafana/grafana:latest
    user: "0:0"
    environment:
      GF_DATABASE_TYPE: postgres
      GF_DATABASE_HOST: pg_grafana:5432
      GF_DATABASE_NAME: my_grafana_db
      GF_DATABASE_USER: user
      GF_DATABASE_PASSWORD: pwd
      GF_DATABASE_SSL_MODE: disable
    restart: unless-stopped
    depends_on:
        - pg_grafana
    ports:
      - 3111:3000
    volumes:
      - grafana:/var/lib/grafana


volumes:
  pg_grafana:
    driver: local
  grafana:
    driver: local
